In [2]:
import pandas as pd

foodFile = pd.read_csv('Resources/CSVs/all_food.csv')

foodFile

,Restaurant,Food_Name,Nutrients,Calories
0,Subway,Cheese Pizza,"[{'value': 28, 'attr_id': 203}, {'value': 23, ...",720
1,Subway,Sausage Pizza,"[{'value': 35, 'attr_id': 203}, {'value': 35, ...",860
2,Subway,Meatball Pizza,"[{'value': 37, 'attr_id': 203}, {'value': 33, ...",860
3,Subway,Pepperoni Pizza,"[{'value': 35, 'attr_id': 203}, {'value': 33, ...",840
4,Subway,Bacon Pizza,"[{'value': 37, 'attr_id': 203}, {'value': 31, ...",840
...,...,...,...,...
2782,La Salsa Fresh Mexican Grill,"Overstuffed Grilled Burrito, Steak","[{'value': 66, 'attr_id': 203}, {'value': 66, ...",1290
2783,La Salsa Fresh Mexican Grill,Side of Chips for Burritos,"[{'value': 3, 'attr_id': 203}, {'value': 10, '...",200
2784,La Salsa Fresh Mexican Grill,California Burrito with Pinto Beans,"[{'value': 27, 'attr_id': 203}, {'value': 29, ...",690
2785,La Salsa Fresh Mexican Grill,California Burrito with Black Beans,"[{'value': 28, 'attr_id': 203}, {'value': 29, ...",710
2786,La Salsa Fresh Mexican Grill,Bean & Cheese Burrito with Black Beans,"[{'value': 48, 'attr_id': 203}, {'value': 48, ...",1100

In [61]:

restaurantsList = []

for i in range(len(foodFile)):

    if foodFile['Restaurant'].value_counts()[foodFile.loc[i,'Restaurant']] > 30:
        if foodFile.loc[i,'Restaurant'] not in restaurantsList:
            restaurantsList.append(foodFile.loc[i,'Restaurant'])

restaurantsList

["Schlotzsky's",
 "Domino's",
 'Pizza Hut',
 "Chili's",
 "Doubledave's Pizzaworks",
 "Johnny Carino's",
 'Dairy Queen',
 'Mod Pizza',
 "Applebee's",
 'Peter Piper Pizza',
 "Romano's Macaroni Grill",
 'Which Wich',
 'Blaze Pizza',
 'California Pizza Kitchen',
 'Redbrick Pizza',
 'Cheesecake Factory',
 "Newk's Eatery",
 "BJ's Restaurants",
 'Extreme Pizza',
 "Denny's",
 'Burger King',
 'Jack in the Box',
 'Sonic',
 "McDonald's",
 'Whataburger',
 'LongHorn Steakhouse',
 "TGI Friday's",
 "Carl's Jr",
 'Perkins Restaurant And Bakery',
 "Chuy's",
 "Mimi's Cafe",
 'Starbucks',
 'Tropical Smoothie Cafe',
 "Jersey Mike's Subs",
 'Taco Bueno',
 'Panera Bread',
 'Corner Bakery Cafe',
 'La Salsa Fresh Mexican Grill',
 'Frullati Cafe & Bakery']

In [62]:
len(restaurantsList)

39

In [64]:
count = 0
for i in restaurantsList:
    if count > 0:
        allMenu = allMenu.append(foodFile[foodFile['Restaurant'] == i])
    else:
        allMenu = foodFile[foodFile['Restaurant'] == i]
    
    count += 1

In [65]:
allMenu

,Restaurant,Food_Name,Nutrients,Calories
9,Schlotzsky's,Kids Cheese Pizza,"[{'value': 18, 'attr_id': 203}, {'value': 17, ...",540
10,Schlotzsky's,Kids Pepperoni Pizza,"[{'value': 20, 'attr_id': 203}, {'value': 22, ...",590
11,Schlotzsky's,Pepperoni Double Cheese Pizza,"[{'value': 39, 'attr_id': 203}, {'value': 42, ...",980
12,Schlotzsky's,Double Cheese Pizza 10'',"[{'value': 33, 'attr_id': 203}, {'value': 35, ...",920
13,Schlotzsky's,Fresh Veggie Pizza 10'',"[{'value': 33, 'attr_id': 203}, {'value': 35, ...",920
...,...,...,...,...
2631,Frullati Cafe & Bakery,"Banana Banana Smoothie, Small","[{'value': 2, 'attr_id': 203}, {'value': 4, 'a...",290
2632,Frullati Cafe & Bakery,"Blueberry Banana Smoothie, Large","[{'value': 3, 'attr_id': 203}, {'value': 8, 'a...",550
2633,Frullati Cafe & Bakery,"Blueberry Pineapple Smoothie, Large","[{'value': 3, 'attr_id': 203}, {'value': 8, 'a...",540
2634,Frullati Cafe & Bakery,"Chocolate Banana Smoothie, Large","[{'value': 5, 'attr_id': 203}, {'value': 7, 'a...",670
2635,Frullati Cafe & Bakery,"Mocha Java Smoothie, Large","[{'value': 4, 'attr_id': 203}, {'value': 7, 'a...",620

In [66]:
allMenu.to_csv("Resources/CSVs/all_menu_items.csv", index=False, header=True)