In [7]:
import pandas as pd

#Make sure to run the NutrientsConverter in the Jupyter Notebook folder to be able to call the DataFrames Stored. 
#DataFrames with the combine info.

%store -r maleInfo

%store -r femaleInfo

%store -r foodFiltered_df

In [8]:
#Males --------

#Gives points to each of the restaurants based on parameters for each of the age groups and lifestyles

#Creates a list to store DataFrames
maleMerged_df = []

for i in range(len(maleInfo)): #for 1 to 3

    #Empty list to store dictionaries for each row iteration.
    dictStore_list = [] 

    for index, row in maleInfo[i].iterrows(): #For each index and row in dataframe maleinfo[i]
        
        #Creates empy dictionary for each iteration. 
        restaurantTally_dict = {} 

        for food in range(len(foodFiltered_df)): #for each row in maleinfo[i] iterates through the restaurant data set and gives points to each restaurant based on the parameters.

             #if we have less than 10 items in the menu, skip iteration.
            if foodFiltered_df['Restaurant'].value_counts()[foodFiltered_df.loc[food,'Restaurant']] < 10:
                continue
            
            if foodFiltered_df.loc[food,'Restaurant'] not in restaurantTally_dict.keys():
                restaurantTally_dict[foodFiltered_df.loc[food,'Restaurant']] = 0 
            
            goodNutritionCounter = 0
                
            #If food calores is lower than the per meal calculatued total, then analyze.
            if (foodFiltered_df.loc[food,'Calories'] <= row['Calories per Meal']):
                goodNutritionCounter += 1
        
            if  ((row['Protein (Cal)'] + 0.045) >= foodFiltered_df.loc[food,'Protein (Cal)']) : #((row['Protein (Cal)'] - 0.045) <= foodFiltered_df.loc[food,'Protein (Cal)']) &
                goodNutritionCounter += 1  

            if  ((row['Carbohydrate (Cal)'] + 0.075) >= foodFiltered_df.loc[food,'Carbohydrate (Cal)']): #((row['Carbohydrate (Cal)'] - 0.075) <= foodFiltered_df.loc[food,'Carbohydrate (Cal)']) &
                goodNutritionCounter += 1  
                
            if ((row['Fiber (gr)'] + 11) > foodFiltered_df.loc[food,'Fiber (gr)']): #((row['Fiber (gr)'] - 11) <= foodFiltered_df.loc[food,'Fiber (gr)']) & 
                goodNutritionCounter += 1
            

            if (foodFiltered_df.loc[food,'Total Sugar (Cal)'] <= row['Total Sugar (Cal)']):
                goodNutritionCounter += 1

            if  ((row['Total lipid (Cal)'] + 2) >= foodFiltered_df.loc[food,'Total Fat (Cal)']): #((row['Total lipid (Cal)'] - 2) <= foodFiltered_df.loc[food,'Total Fat (Cal)']) &
                goodNutritionCounter += 1

            if (foodFiltered_df.loc[food,'Total Trans Fat (Cal)'] < row['Total Trans Fat (Cal)']):
                goodNutritionCounter += 1

            if (foodFiltered_df.loc[food,'Total Saturated Fat (Cal)'] <= row['Total Saturated Fat (Cal)']):
                goodNutritionCounter += 1

            if (foodFiltered_df.loc[food,'Cholesterol (mg)'] < row['Cholesterol (mg)']):
                goodNutritionCounter += 1

            if ((row['Calcium (mg)'] + 252.5)  > foodFiltered_df.loc[food,'Calcium (mg)']): #((row['Calcium (mg)'] - 252.5)  <= foodFiltered_df.loc[food,'Calcium (mg)']) & 
                goodNutritionCounter += 1

            if  ((row['Iron (mg)'] + 5) > foodFiltered_df.loc[food,'Iron (mg)']): #((row['Iron (mg)'] - 5) <= foodFiltered_df.loc[food,'Iron (mg)']) &
                goodNutritionCounter += 1

            if  ((row['Sodium, (mg)'] + 310) > foodFiltered_df.loc[food,'Sodium (mg)']): #((row['Sodium, (mg)'] - 310) <= foodFiltered_df.loc[food,'Sodium (mg)']) &
                goodNutritionCounter += 1
             
            if ((row['Vitamin A (mcg RAE)'] + 615) > foodFiltered_df.loc[food,'Vitamin A (mcg RAE)']): #((row['Vitamin A (mcg RAE)'] - 615) <= foodFiltered_df.loc[food,'Vitamin A (mcg RAE)']) &
                goodNutritionCounter += 1

            if (foodFiltered_df.loc[food,'Vitamin C (mg)'] <= row['Vitamin C (mg)']):
                goodNutritionCounter += 1
            
            if  (goodNutritionCounter == 14): 

                #Only count if the restaruant meets the min conditions or at least 9 combined conditions.
                restaurantTally_dict[foodFiltered_df.loc[food,'Restaurant']] += (1 / foodFiltered_df['Restaurant'].value_counts()[foodFiltered_df.loc[food,'Restaurant']])
                

        #When code is done iterating the data set, append the dictionary to empty list. 
        dictStore_list.append(restaurantTally_dict)
    
    #When code is done iterating trough the maleinfo[i] dataframe, mergues the maleinfo[i] dataframe and create a dataframe from the dictionary list and append both DataFrames using the index of both DataFrames.
    maleMerged_df.append(pd.merge(maleInfo[i], pd.DataFrame(dictStore_list), left_index = True, right_index = True))

maleMerged_df[0].head()

,AGE,Sedentary,Protein (Cal),Carbohydrate (Cal),Fiber (gr),Total Sugar (Cal),Total lipid (Cal),Total Trans Fat (Cal),Total Saturated Fat (Cal),Cholesterol (mg),...,Salata,La Salsa Fresh Mexican Grill,HoneyBaked Ham,Saladworks,Maggiano's Little Italy,Frullati Cafe & Bakery,Jamba Juice,Baskin Robbins,Nature's Table,Smoothie King
0,14,2000,150,350,19,80,200,20,60,100,...,0.3,0.0625,0.166667,0.65,0,0.051724,0.130435,0.083333,0.076923,0.10
1,15,2200,165,385,19,88,220,22,66,100,...,0.3,0.0625,0.166667,0.65,0,0.068966,0.130435,0.083333,0.076923,0.10
2,16,2400,180,420,19,96,240,24,72,100,...,0.3,0.0625,0.166667,0.70,0,0.068966,0.130435,0.083333,0.076923,0.15
3,17,2400,180,420,19,96,240,24,72,100,...,0.3,0.0625,0.166667,0.70,0,0.068966,0.130435,0.083333,0.076923,0.15
4,18,2400,180,420,19,96,240,24,72,100,...,0.3,0.0625,0.166667,0.70,0,0.068966,0.130435,0.083333,0.076923,0.15

In [38]:
#drops empty columns for each dataFrame 
for i in range(len(maleMerged_df)):

    #sorts columns based on average
    columnOrder = (maleMerged_df[i].iloc[0,:16].index).to_list() + (maleMerged_df[i].iloc[:,16:].mean().sort_values(ascending = False).index).to_list()
    #Re orders columns
    maleMerged_df[i] = maleMerged_df[i][columnOrder]
    #printsCSV
    maleMerged_df[i].loc[:,(maleMerged_df[i]!= 0).any(axis=0)].to_csv(f'male{i}.csv')

In [39]:
maleMerged_df[0].head()

,AGE,Sedentary,Protein (Cal),Carbohydrate (Cal),Fiber (gr),Total Sugar (Cal),Total lipid (Cal),Total Trans Fat (Cal),Total Saturated Fat (Cal),Cholesterol (mg),...,Taco Cabana,Chick-fil-A,Wings To Go,The Capital Grille,Doubledave's Pizzaworks,Firehouse Subs,Freebirds World Burrito,Taco Bell,Maggiano's Little Italy,Auntie Anne's
0,14,2000,150,350,19,80,200,20,60,100,...,0,0,0,0,0,0,0,0,0,0
1,15,2200,165,385,19,88,220,22,66,100,...,0,0,0,0,0,0,0,0,0,0
2,16,2400,180,420,19,96,240,24,72,100,...,0,0,0,0,0,0,0,0,0,0
3,17,2400,180,420,19,96,240,24,72,100,...,0,0,0,0,0,0,0,0,0,0
4,18,2400,180,420,19,96,240,24,72,100,...,0,0,0,0,0,0,0,0,0,0

In [9]:
#Females --------

#Gives points to each of the restaurants based on parameters for each of the age groups and lifestyles

#Creates a list to store DataFrames
femaleMerged_df = []

for i in range(len(femaleInfo)): #for 1 to 3

    #Empty list to store dictionaries for each row iteration.
    dictStore_list = [] 

    for index, row in femaleInfo[i].iterrows(): #For each index and row in dataframe maleinfo[i]
        
        #Creates empy dictionary for each iteration. 
        restaurantTally_dict = {} 

        for food in range(len(foodFiltered_df)): #for each row in maleinfo[i] iterates through the restaurant data set and gives points to each restaurant based on the parameters.

            #if we have less than 10 items in the menu, skip iteration.
            if foodFiltered_df['Restaurant'].value_counts()[foodFiltered_df.loc[food,'Restaurant']] < 10:
                continue
            
            if foodFiltered_df.loc[food,'Restaurant'] not in restaurantTally_dict.keys():
                restaurantTally_dict[foodFiltered_df.loc[food,'Restaurant']] = 0 

            goodNutritionCounter = 0

            #If food calores is lower than the per meal calculatued total, then analyze.
            if (foodFiltered_df.loc[food,'Calories'] <= row['Calories per Meal']):
                goodNutritionCounter += 1
        
            if  ((row['Protein (Cal)'] + 0.045) >= foodFiltered_df.loc[food,'Protein (Cal)']) : #((row['Protein (Cal)'] - 0.045) <= foodFiltered_df.loc[food,'Protein (Cal)']) &
                goodNutritionCounter += 1
                #proteinCheck = True        

            if  ((row['Carbohydrate (Cal)'] + 0.075) >= foodFiltered_df.loc[food,'Carbohydrate (Cal)']): #((row['Carbohydrate (Cal)'] - 0.075) <= foodFiltered_df.loc[food,'Carbohydrate (Cal)']) &
                goodNutritionCounter += 1
                #carbCheck = True      
                
            if ((row['Fiber (gr)'] + 11) > foodFiltered_df.loc[food,'Fiber (gr)']): #((row['Fiber (gr)'] - 11) <= foodFiltered_df.loc[food,'Fiber (gr)']) & 
                goodNutritionCounter += 1
                #fiberCheck = True

            if (foodFiltered_df.loc[food,'Total Sugar (Cal)'] <= row['Total Sugar (Cal)']):
                goodNutritionCounter += 1
                #sugarsCheck = True

            if  ((row['Total lipid (Cal)'] + 2) >= foodFiltered_df.loc[food,'Total Fat (Cal)']): #((row['Total lipid (Cal)'] - 2) <= foodFiltered_df.loc[food,'Total Fat (Cal)']) &
                goodNutritionCounter += 1
                #fatCheck = True

            if (foodFiltered_df.loc[food,'Total Trans Fat (Cal)'] < row['Total Trans Fat (Cal)']):
                goodNutritionCounter += 1

            if (foodFiltered_df.loc[food,'Total Saturated Fat (Cal)'] <= row['Total Saturated Fat (Cal)']):
                goodNutritionCounter += 1
                #satfatCheck = True

            if (foodFiltered_df.loc[food,'Cholesterol (mg)'] < row['Cholesterol (mg)']):
                goodNutritionCounter += 1

            if ((row['Calcium (mg)'] + 252.5)  > foodFiltered_df.loc[food,'Calcium (mg)']): #((row['Calcium (mg)'] - 252.5)  <= foodFiltered_df.loc[food,'Calcium (mg)']) & 
                goodNutritionCounter += 1

            if  ((row['Iron (mg)'] + 5) > foodFiltered_df.loc[food,'Iron (mg)']): #((row['Iron (mg)'] - 5) <= foodFiltered_df.loc[food,'Iron (mg)']) &
                goodNutritionCounter += 1

            if  ((row['Sodium, (mg)'] + 310) > foodFiltered_df.loc[food,'Sodium (mg)']): #((row['Sodium, (mg)'] - 310) <= foodFiltered_df.loc[food,'Sodium (mg)']) &
                goodNutritionCounter += 1
                #sodiumCheck = True

            if ((row['Vitamin A (mcg RAE)'] + 615) > foodFiltered_df.loc[food,'Vitamin A (mcg RAE)']): #((row['Vitamin A (mcg RAE)'] - 615) <= foodFiltered_df.loc[food,'Vitamin A (mcg RAE)']) &
                goodNutritionCounter += 1

            if (foodFiltered_df.loc[food,'Vitamin C (mg)'] <= row['Vitamin C (mg)']):
                goodNutritionCounter += 1
            
            if  (goodNutritionCounter == 14): 

                #Only count if the restaruant meets all conditions.
                restaurantTally_dict[foodFiltered_df.loc[food,'Restaurant']] += (1 / foodFiltered_df['Restaurant'].value_counts()[foodFiltered_df.loc[food,'Restaurant']])

        #When code is done iterating the data set, append the dictionary to empty list. 
        dictStore_list.append(restaurantTally_dict)
    
    #When code is done iterating trough the maleinfo[i] dataframe, mergues the maleinfo[i] dataframe and create a dataframe from the dictionary list and append both DataFrames using the index of both DataFrames.
    femaleMerged_df.append(pd.merge(femaleInfo[i], pd.DataFrame(dictStore_list), left_index = True, right_index = True))


femaleMerged_df[0].head()

,AGE,Sedentary,Protein (Cal),Carbohydrate (Cal),Fiber (gr),Total Sugar (Cal),Total lipid (Cal),Total Trans Fat (Cal),Total Saturated Fat (Cal),Cholesterol (mg),...,Salata,La Salsa Fresh Mexican Grill,HoneyBaked Ham,Saladworks,Maggiano's Little Italy,Frullati Cafe & Bakery,Jamba Juice,Baskin Robbins,Nature's Table,Smoothie King
0,14,1800,135,315,19,72,180,18,54,100,...,0.3,0.0625,0.166667,0.65,0,0.051724,0.130435,0.083333,0.076923,0.1
1,15,1800,135,315,19,72,180,18,54,100,...,0.3,0.0625,0.166667,0.65,0,0.051724,0.130435,0.083333,0.076923,0.1
2,16,1800,135,315,19,72,180,18,54,100,...,0.3,0.0625,0.166667,0.65,0,0.051724,0.130435,0.083333,0.076923,0.1
3,17,1800,135,315,19,72,180,18,54,100,...,0.3,0.0625,0.166667,0.65,0,0.051724,0.130435,0.083333,0.076923,0.1
4,18,1800,135,315,19,72,180,18,54,100,...,0.3,0.0625,0.166667,0.65,0,0.051724,0.130435,0.083333,0.076923,0.1

In [40]:
#drops empty columns for each dataFrame 
for i in range(len(femaleMerged_df)):

    #sorts columns based on average
    columnOrder = (femaleMerged_df[i].iloc[0,:16].index).to_list() + (femaleMerged_df[i].iloc[:,16:].mean().sort_values(ascending = False).index).to_list()
    #Re orders columns
    femaleMerged_df[i] = femaleMerged_df[i][columnOrder]
    #printsCSV
    femaleMerged_df[i].loc[:,(femaleMerged_df[i]!= 0).any(axis=0)].to_csv(f'female{i}.csv')

In [41]:
femaleMerged_df[0].head()

,AGE,Sedentary,Protein (Cal),Carbohydrate (Cal),Fiber (gr),Total Sugar (Cal),Total lipid (Cal),Total Trans Fat (Cal),Total Saturated Fat (Cal),Cholesterol (mg),...,Freebirds World Burrito,Taco Bell,Chick-fil-A,Firehouse Subs,Doubledave's Pizzaworks,Taco Cabana,Wings To Go,The Capital Grille,Five Guys,Texas Roadhouse
0,14,1800,135,315,19,72,180,18,54,100,...,0,0,0,0,0,0,0,0,0,0
1,15,1800,135,315,19,72,180,18,54,100,...,0,0,0,0,0,0,0,0,0,0
2,16,1800,135,315,19,72,180,18,54,100,...,0,0,0,0,0,0,0,0,0,0
3,17,1800,135,315,19,72,180,18,54,100,...,0,0,0,0,0,0,0,0,0,0
4,18,1800,135,315,19,72,180,18,54,100,...,0,0,0,0,0,0,0,0,0,0