In [1]:
import pandas as pd

#Make sure to run the NutrientsConverter in the Jupyter Notebook folder to be able to call the DataFrames Stored. 

#DataFrames with the combine info.
%store -r maleInfo

%store -r femaleInfo

%store -r foodFiltered_df

In [3]:
#Males --------

#Gives points to each of the restaurants based on parameters for each of the age groups and lifestyles

#Creates a list to store DataFrames
maleMerged_df = []

for i in range(len(maleInfo)): #for 1 to 3

    #Empty list to store dictionaries for each row iteration.
    dictStore_list = [] 

    for index, row in maleInfo[i].iterrows(): #For each index and row in dataframe maleinfo[i]
        
        #Creates empy dictionary for each iteration. 
        restaurantTally_dict = {} 

        for food in range(len(foodFiltered_df)): #for each row in maleinfo[i] iterates through the restaurant data set and gives points to each restaurant based on the parameters.
            
            if foodFiltered_df.loc[food,'Restaurant'] not in restaurantTally_dict.keys():
                restaurantTally_dict[foodFiltered_df.loc[food,'Restaurant']] = 0
                
            if (foodFiltered_df.loc[food,'Protein (Cal)'] <= row['Protein (Cal)']) :
                restaurantTally_dict[foodFiltered_df.loc[food,'Restaurant']] += 1

            if (foodFiltered_df.loc[food,'Carbohydrate (Cal)'] <= row['Carbohydrate (Cal)']):
                restaurantTally_dict[foodFiltered_df.loc[food,'Restaurant']] += 1

            if (foodFiltered_df.loc[food,'Fiber (gr)'] <= row['Fiber (gr)']):
                restaurantTally_dict[foodFiltered_df.loc[food,'Restaurant']] += 1

            if (foodFiltered_df.loc[food,'Total Sugar (gr)'] <= row['Total Sugar (gr)']):
                restaurantTally_dict[foodFiltered_df.loc[food,'Restaurant']] += 1

            if (foodFiltered_df.loc[food,'Total Fat (Cal)'] <= row['Total lipid (Cal)']):
                restaurantTally_dict[foodFiltered_df.loc[food,'Restaurant']] += 1

            if (foodFiltered_df.loc[food,'Total Trans Fat (Cal)'] <= row['Total Trans Fat (Cal)']):
                restaurantTally_dict[foodFiltered_df.loc[food,'Restaurant']] += 1

            if (foodFiltered_df.loc[food,'Total Saturated Fat (Cal)'] <= row['Total Saturated Fat (Cal)']):
                restaurantTally_dict[foodFiltered_df.loc[food,'Restaurant']] += 1

            if (foodFiltered_df.loc[food,'Cholesterol (mg)'] <= row['Cholesterol (mg)']):
                restaurantTally_dict[foodFiltered_df.loc[food,'Restaurant']] += 1

            if (foodFiltered_df.loc[food,'Calcium (mg)'] <= row['Calcium (mg)']):
                restaurantTally_dict[foodFiltered_df.loc[food,'Restaurant']] += 1

            if (foodFiltered_df.loc[food,'Iron (mg)'] <= row['Iron (mg)']):
                restaurantTally_dict[foodFiltered_df.loc[food,'Restaurant']] += 1

            if (foodFiltered_df.loc[food,'Sodium (mg)'] <= row['Sodium, (mg)']):
                restaurantTally_dict[foodFiltered_df.loc[food,'Restaurant']] += 1

            if (foodFiltered_df.loc[food,'Vitamin A (mcg RAE)'] <= row['Vitamin A (mcg RAE)']):
                restaurantTally_dict[foodFiltered_df.loc[food,'Restaurant']] += 1

            if (foodFiltered_df.loc[food,'Vitamin C (mg)'] <= row['Vitamin C (mg)']):
                restaurantTally_dict[foodFiltered_df.loc[food,'Restaurant']] += 1 

        #When code is done iterating the data set, append the dictionary to empty list. 
        dictStore_list.append(restaurantTally_dict)
    
    #When code is done iterating trough the maleinfo[i] dataframe, mergues the maleinfo[i] dataframe and create a dataframe from the dictionary list and append both DataFrames using the index of both DataFrames.
    maleMerged_df.append(pd.merge(maleInfo[i], pd.DataFrame(dictStore_list), left_index = True, right_index = True))

maleMerged_df[0].head()

,AGE,Sedentary,Protein (Cal),Carbohydrate (Cal),Fiber (gr),Total Sugar (gr),Total lipid (Cal),Total Trans Fat (Cal),Total Saturated Fat (Cal),Cholesterol (mg),...,Smashburger,Cinnabon,Raising Cane's,Jamba Juice,Dickey's Barbecue Pit,Baskin Robbins,Nature's Table,A&W Restaurants,Long John Silver's,Smoothie King
0,14,2000,133.33,366.67,10.27,13.33,200,6.67,66.67,83.33,...,13,65,16,243,63,122,130,53,23,234
1,15,2200,146.67,403.33,10.27,13.33,220,7.33,73.33,83.33,...,13,66,16,245,63,122,130,56,24,238
2,16,2400,160,440,10.27,13.33,240,8,80,83.33,...,13,66,17,246,63,124,133,57,24,240
3,17,2400,160,440,10.27,13.33,240,8,80,83.33,...,13,66,17,246,63,124,133,57,24,240
4,18,2400,160,440,10.27,13.33,240,8,80,83.33,...,13,66,17,246,63,124,133,57,24,240

In [4]:
csvout = maleMerged_df[0].to_csv('maleSendentary.csv',index = False)

In [14]:
#Females --------

#Gives points to each of the restaurants based on parameters for each of the age groups and lifestyles

#Creates a list to store DataFrames
femaleMerged_df = []

for i in range(len(femaleInfo)): #for 1 to 3

    #Empty list to store dictionaries for each row iteration.
    dictStore_list = [] 

    for index, row in femaleInfo[i].iterrows(): #For each index and row in dataframe maleinfo[i]
        
        #Creates empy dictionary for each iteration. 
        restaurantTally_dict = {} 

        for food in range(len(foodFiltered_df)): #for each row in maleinfo[i] iterates through the restaurant data set and gives points to each restaurant based on the parameters.
            
            if foodFiltered_df.loc[food,'Restaurant'] not in restaurantTally_dict.keys():
                restaurantTally_dict[foodFiltered_df.loc[food,'Restaurant']] = 0
                
            if (foodFiltered_df.loc[food,'Protein (Cal)'] <= row['Protein (Cal)']) :
                restaurantTally_dict[foodFiltered_df.loc[food,'Restaurant']] += 1

            if (foodFiltered_df.loc[food,'Carbohydrate (Cal)'] <= row['Carbohydrate (Cal)']):
                restaurantTally_dict[foodFiltered_df.loc[food,'Restaurant']] += 1

            if (foodFiltered_df.loc[food,'Fiber (gr)'] <= row['Fiber (gr)']):
                restaurantTally_dict[foodFiltered_df.loc[food,'Restaurant']] += 1

            if (foodFiltered_df.loc[food,'Total Sugar (gr)'] <= row['Total Sugar (gr)']):
                restaurantTally_dict[foodFiltered_df.loc[food,'Restaurant']] += 1

            if (foodFiltered_df.loc[food,'Total Fat (Cal)'] <= row['Total lipid (Cal)']):
                restaurantTally_dict[foodFiltered_df.loc[food,'Restaurant']] += 1

            if (foodFiltered_df.loc[food,'Total Trans Fat (Cal)'] <= row['Total Trans Fat (Cal)']):
                restaurantTally_dict[foodFiltered_df.loc[food,'Restaurant']] += 1

            if (foodFiltered_df.loc[food,'Total Saturated Fat (Cal)'] <= row['Total Saturated Fat (Cal)']):
                restaurantTally_dict[foodFiltered_df.loc[food,'Restaurant']] += 1

            if (foodFiltered_df.loc[food,'Cholesterol (mg)'] <= row['Cholesterol (mg)']):
                restaurantTally_dict[foodFiltered_df.loc[food,'Restaurant']] += 1

            if (foodFiltered_df.loc[food,'Calcium (mg)'] <= row['Calcium (mg)']):
                restaurantTally_dict[foodFiltered_df.loc[food,'Restaurant']] += 1

            if (foodFiltered_df.loc[food,'Iron (mg)'] <= row['Iron (mg)']):
                restaurantTally_dict[foodFiltered_df.loc[food,'Restaurant']] += 1

            if (foodFiltered_df.loc[food,'Sodium (mg)'] <= row['Sodium, (mg)']):
                restaurantTally_dict[foodFiltered_df.loc[food,'Restaurant']] += 1

            if (foodFiltered_df.loc[food,'Vitamin A (mcg RAE)'] <= row['Vitamin A (mcg RAE)']):
                restaurantTally_dict[foodFiltered_df.loc[food,'Restaurant']] += 1

            if (foodFiltered_df.loc[food,'Vitamin C (mg)'] <= row['Vitamin C (mg)']):
                restaurantTally_dict[foodFiltered_df.loc[food,'Restaurant']] += 1 

        #When code is done iterating the data set, append the dictionary to empty list. 
        dictStore_list.append(restaurantTally_dict)
    
    #When code is done iterating trough the maleinfo[i] dataframe, mergues the maleinfo[i] dataframe and create a dataframe from the dictionary list and append both DataFrames using the index of both DataFrames.
    femaleMerged_df.append(pd.merge(femaleInfo[i], pd.DataFrame(dictStore_list), left_index = True, right_index = True))

femaleMerged_df[0].head()

,AGE,Sedentary,Protein (Cal),Carbohydrate (Cal),Fiber (gr),Total Sugar (gr),Total lipid (Cal),Total Trans Fat (Cal),Total Saturated Fat (Cal),Cholesterol (mg),...,Smashburger,Cinnabon,Raising Cane's,Jamba Juice,Dickey's Barbecue Pit,Baskin Robbins,Nature's Table,A&W Restaurants,Long John Silver's,Smoothie King
0,2,1000,66.67,183.33,8.4,13.33,100,3.33,33.33,83.33,...,13,54,12,226,57,115,106,42,20,220
1,3,1000,66.67,183.33,8.4,13.33,100,3.33,33.33,83.33,...,13,54,12,226,57,115,106,42,20,220
2,4,1200,80,220,8.4,13.33,120,4,40,83.33,...,13,58,12,231,60,115,112,45,21,221
3,5,1200,80,220,8.4,13.33,120,4,40,83.33,...,13,58,12,231,60,115,112,45,21,221
4,6,1200,80,220,8.4,13.33,120,4,40,83.33,...,13,58,12,231,60,115,112,45,21,221