In [16]:
import pandas as pd

import ast

In [17]:
foodRaw_df = pd.read_csv('../../Resources/CSVs/all_menu_items.csv')

foodRaw_df.head()

,Restaurant,Food_Name,Nutrients,Calories
0,Panera Bread,"Caesar Salad with Chicken, Whole","[{'value': 35, 'attr_id': 203}, {'value': 27, ...",450
1,Panera Bread,"Mediterranean Veggie Sandwich on Tomato Basil,...","[{'value': 18, 'attr_id': 203}, {'value': 13, ...",440
2,Panera Bread,Napa Almond Chicken Salad Sandwich on Country ...,"[{'value': 28, 'attr_id': 203}, {'value': 32, ...",630
3,Panera Bread,"Fuji Apple Salad with Chicken, Whole","[{'value': 33, 'attr_id': 203}, {'value': 35, ...",570
4,Panera Bread,"Modern Greek Salad with Quinoa, Whole","[{'value': 12, 'attr_id': 203}, {'value': 43, ...",530

In [18]:
nutrient_map = pd.read_csv('../../Resources/CSVs/Nutritionix API v2 - Full Nutrient USDA Field Mapping.csv')

nutrient_map = nutrient_map.set_index('attr_id')

nutrient_map.head()

,2018 NFP,usda_tag,name,unit,notes,bulk_csv_field,cxh_attribute_name,Unnamed: 8
attr_id,,,,,,,,
203,1.0,PROCNT,Protein,g,NaN,nf_protein,PRO-,NaN
204,1.0,FAT,Total lipid (fat),g,NaN,nf_total_fat,FAT,NaN
205,1.0,CHOCDF,"Carbohydrate, by difference",g,NaN,nf_total_carbohydrate,CHO-,NaN
207,0.0,ASH,Ash,g,NaN,NaN,NaN,NaN
208,1.0,ENERC_KCAL,Energy,kcal,NaN,nf_calories,ENER-,NaN

In [19]:
for index,row in foodRaw_df.iterrows(): #iterate each index and row.
    
    nutrients = ast.literal_eval(row['Nutrients']) #The original column was as string. ast.literal_eval -->interprets "strings, bytes, numbers, tuples, lists, dicts, sets, booleans, and None." and returns it in the right format.. Anything else is an error.
    
    for nutrient in nutrients: #Iterates each of the nutrients dictionaries. 
        
        name = nutrient_map.loc[nutrient['attr_id'],'name'] #locates the name in the nutrient_map csv. 
        
        conversion_dict = { #Converts the columns from grams to calories.
            'Protein' : 4, #To cal
            'Carbohydrate, by difference' : 4, #to cal
            'Total lipid (fat)' : 9, #to cal
            'Vitamin A, IU' : 0.3, #to mcg RAE
            'Fatty acids, total trans' : 10,
            'Fatty acids, total saturated' : 9,
            'Sugars, total' : 4} 
        
        if name in conversion_dict.keys():
            conversionFactor = conversion_dict[name]
        else:
            conversionFactor = 1
        
        value = nutrient['value'] 
        
       
        if name in foodRaw_df.columns: #if the nutrient is a DataFrame column.
                
            foodRaw_df.loc[index,name] = value * conversionFactor #Adds the value. 
        
        else: #if the nutrient is not in the DataFrame
            foodRaw_df[name] =''
            foodRaw_df.loc[index,name] = value * conversionFactor
        
food_df = foodRaw_df.replace(r"^\s*$", 0, regex = True) #Finds and replace empty cells with 0. empty cell pattern = r"^\s*$"

food_df.head()

,Restaurant,Food_Name,Nutrients,Calories,Protein,Total lipid (fat),"Carbohydrate, by difference",Energy,"Sugars, total","Fiber, total dietary","Sodium, Na",Cholesterol,"Fatty acids, total trans","Fatty acids, total saturated","Calcium, Ca","Iron, Fe","Vitamin A, IU","Vitamin C, total ascorbic acid"
0,Panera Bread,"Caesar Salad with Chicken, Whole","[{'value': 35, 'attr_id': 203}, {'value': 27, ...",450,140,243.0,68,450,8,2,770,120,0,63.0,0,0.0,0.0,0
1,Panera Bread,"Mediterranean Veggie Sandwich on Tomato Basil,...","[{'value': 18, 'attr_id': 203}, {'value': 13, ...",440,72,117.0,268,440,32,6,1230,10,0,27.0,0,0.0,0.0,0
2,Panera Bread,Napa Almond Chicken Salad Sandwich on Country ...,"[{'value': 28, 'attr_id': 203}, {'value': 32, ...",630,112,288.0,240,630,48,5,680,70,0,40.5,0,0.0,0.0,0
3,Panera Bread,"Fuji Apple Salad with Chicken, Whole","[{'value': 33, 'attr_id': 203}, {'value': 35, ...",570,132,315.0,144,570,80,6,590,95,0,63.0,0,0.0,0.0,0
4,Panera Bread,"Modern Greek Salad with Quinoa, Whole","[{'value': 12, 'attr_id': 203}, {'value': 43, ...",530,48,387.0,108,530,16,7,870,15,0,63.0,0,0.0,0.0,0

In [20]:
#DataFrame columns order edit and columns rename.

foodFiltered_df = food_df[['Restaurant',
                           'Food_Name',
                           'Calories',
                           'Protein',
                           'Carbohydrate, by difference',
                           'Fiber, total dietary',
                           'Sugars, total',
                           'Total lipid (fat)',
                           'Fatty acids, total trans',
                           'Fatty acids, total saturated',
                           'Cholesterol',
                           'Calcium, Ca',
                           'Iron, Fe',
                           'Sodium, Na',
                           'Vitamin A, IU',
                          'Vitamin C, total ascorbic acid']]

columns_name = {
    'Protein' : 'Protein (Cal)',
    'Carbohydrate, by difference' : 'Carbohydrate (Cal)',
    'Fiber, total dietary' : 'Fiber (gr)',
    'Sugars, total' : 'Total Sugar (Cal)',
    'Total lipid (fat)' : 'Total Fat (Cal)',
    'Cholesterol' : 'Cholesterol (mg)',
    'Calcium, Ca' : 'Calcium (mg)',
    'Iron, Fe' : 'Iron (mg)',
    'Sodium, Na' : 'Sodium (mg)',
    'Vitamin A, IU' : 'Vitamin A (mcg RAE)',
    'Vitamin C, total ascorbic acid' : 'Vitamin C (mg)',
    'Fatty acids, total trans' : 'Total Trans Fat (Cal)',
    'Fatty acids, total saturated' : 'Total Saturated Fat (Cal)'
    
}

foodFiltered_df = foodFiltered_df.rename(columns = columns_name)

foodFiltered_df.head()

,Restaurant,Food_Name,Calories,Protein (Cal),Carbohydrate (Cal),Fiber (gr),Total Sugar (Cal),Total Fat (Cal),Total Trans Fat (Cal),Total Saturated Fat (Cal),Cholesterol (mg),Calcium (mg),Iron (mg),Sodium (mg),Vitamin A (mcg RAE),Vitamin C (mg)
0,Panera Bread,"Caesar Salad with Chicken, Whole",450,140,68,2,8,243.0,0,63.0,120,0,0.0,770,0.0,0
1,Panera Bread,"Mediterranean Veggie Sandwich on Tomato Basil,...",440,72,268,6,32,117.0,0,27.0,10,0,0.0,1230,0.0,0
2,Panera Bread,Napa Almond Chicken Salad Sandwich on Country ...,630,112,240,5,48,288.0,0,40.5,70,0,0.0,680,0.0,0
3,Panera Bread,"Fuji Apple Salad with Chicken, Whole",570,132,144,6,80,315.0,0,63.0,95,0,0.0,590,0.0,0
4,Panera Bread,"Modern Greek Salad with Quinoa, Whole",530,48,108,7,16,387.0,0,63.0,15,0,0.0,870,0.0,0

In [21]:
#Load kcal requirments from FDA

calorieNeeds_male = pd.read_excel('../../FDA Tables XLSX/Appendix 2. Estimated Calorie Needs -2020 Dietary Guidelines _ health.gov_0002.xlsx', sheet_name = 'Males')

calorieNeeds_male = calorieNeeds_male[calorieNeeds_male['AGE'] >= 14]

calorieNeeds_male = calorieNeeds_male.reset_index(drop= True)

calorieNeeds_male

    AGE  Sedentary  Moderately active  Active
0    14       2000               2400    2800
1    15       2200               2600    3000
2    16       2400               2800    3200
3    17       2400               2800    3200
4    18       2400               2800    3200
..  ...        ...                ...     ...
58   72       2000               2200    2600
59   73       2000               2200    2600
60   74       2000               2200    2600
61   75       2000               2200    2600
62   76       2000               2200    2400

[63 rows x 4 columns]

In [22]:
#Health Parameters Male

nutritionParameters_dict = {'Protein (Cal)' : ((12 + 3) / 2)/100,
                           'Carbohydrate (Cal)' : ((10 + 25) / 2) / 100,
                           'Fiber (gr)' : (8 + 30) / 2,
                           'Total Sugar (Cal)': .04, #https://www.livestrong.com/article/333407-how-many-calories-should-i-eat-at-lunch/
                           'Total lipid (Cal)': ((12 + 8) / 2)/ 100,
                           'Total Trans Fat (Cal)': .01, #https://medlineplus.gov/ency/patientinstructions/000786.htm#:~:text=You%20should%20limit%20saturated%20fat,or%202%20grams%20per%20day.
                           'Total Saturated Fat (Cal)': 0.03,
                           'Cholesterol (mg)' : 100, #https://www.healthline.com/health/high-cholesterol/rda#:~:text=Following%20dietary%20guidelines%2C%20doctors%20used,high%20risk%20of%20heart%20disease.
                           'Calcium (mg)': (835 + 330) / 2,
                           'Iron (mg)': (5 + 15) / 2,
                           'Sodium, (mg)': (770 + 150)/2,
                           'Vitamin A (mcg RAE)': (1000 + 230) / 2,
                            'Vitamin C (mg)' : 21,
                            'Calories per Meal' : 1/3}

maleNutrition19to30_dict = {'Protein (Cal)' : 0.225/3,
                           'Carbohydrate (Cal)' : 0.175,
                           'Fiber (gr)' : 33.6/3,
                           'Total Sugar (gr)': 40/3, #https://www.livestrong.com/article/333407-how-many-calories-should-i-eat-at-lunch/
                           'Total lipid (Cal)': 0.176/3,
                           'Total Trans Fat (Cal)': .01/3, #https://medlineplus.gov/ency/patientinstructions/000786.htm#:~:text=You%20should%20limit%20saturated%20fat,or%202%20grams%20per%20day.
                           'Total Saturated Fat (Cal)': 0.1/3,
                           'Cholesterol (mg)' : 250/3, #https://www.healthline.com/health/high-cholesterol/rda#:~:text=Following%20dietary%20guidelines%2C%20doctors%20used,high%20risk%20of%20heart%20disease.
                           'Calcium (mg)': 1000/3,
                           'Iron (mg)': 8/2,
                           'Sodium, (mg)': 2300/3,
                           'Vitamin A, IU': 900/3,
                            'Vitamin C (mg)' : 90/3}
    
maleNutrition31to50_dict = {'Protein (Cal)' : 0.225/3,
                           'Carbohydrate (Cal)' : 0.175,
                           'Fiber (gr)' : 30.8/3,
                           'Total Sugar (gr)': 40/3, #https://www.livestrong.com/article/333407-how-many-calories-should-i-eat-at-lunch/
                           'Total lipid (Cal)': 0.176/3,
                            'Total Trans Fat (Cal)': .01/3, #https://medlineplus.gov/ency/patientinstructions/000786.htm#:~:text=You%20should%20limit%20saturated%20fat,or%202%20grams%20per%20day.
                           'Total Saturated Fat (Cal)': 0.1/3,
                           'Cholesterol (mg)' : 250/3, #https://www.healthline.com/health/high-cholesterol/rda#:~:text=Following%20dietary%20guidelines%2C%20doctors%20used,high%20risk%20of%20heart%20disease.
                           'Calcium (mg)': 1000/3,
                           'Iron (mg)': 8/2,
                           'Sodium (mg)': 2300/3,
                           'Vitamin A (mcg RAE)': 900/3,
                            'Vitamin C (mg)' : 90/3}
    
maleNutrition51_dict = {'Protein (Cal)' : 0.225/3,
                        'Carbohydrate (Cal)' : 0.175,
                        'Fiber (gr)' : 28/3,
                        'Total Sugar (gr)': 40/3, #https://www.livestrong.com/article/333407-how-many-calories-should-i-eat-at-lunch/
                        'Total lipid (Cal)': 0.176/3,
                        'Total Trans Fat (Cal)': .01/3, #https://medlineplus.gov/ency/patientinstructions/000786.htm#:~:text=You%20should%20limit%20saturated%20fat,or%202%20grams%20per%20day.
                        'Total Saturated Fat (Cal)': 0.1/3,
                        'Cholesterol (mg)' : 250/3, #https://www.healthline.com/health/high-cholesterol/rda#:~:text=Following%20dietary%20guidelines%2C%20doctors%20used,high%20risk%20of%20heart%20disease.
                        'Calcium (mg)': 1000/3,
                        'Iron (mg)': 8/2,
                        'Sodium (mg)': 2300/3,
                        'Vitamin A (mcg RAE)': 900/3,
                        'Vitamin C (mg)' : 90/3}

In [23]:
#Lists of DataFrames with the information of the required nutrients for each age and lifestyle goup.

maleInfo = []

for lifeStyle in ['Sedentary','Moderately active','Active']:
    
    lifeStyle_df = calorieNeeds_male[['AGE', lifeStyle]]
    
    for index,row in lifeStyle_df.iterrows():

        for key in nutritionParameters_dict.keys():

            if key not in lifeStyle_df.columns:

                lifeStyle_df[key] = ''

                if (key == 'Protein (Cal)') |( key == 'Carbohydrate (Cal)') | (key == 'Total Sugar (Cal)') | (key == 'Total lipid (Cal)')| (key == 'Total Trans Fat (Cal)')|( key == 'Total Saturated Fat (Cal)') | (key == 'Calories per Meal'):

                    lifeStyle_df.loc[index, key] = round(row[lifeStyle] * nutritionParameters_dict[key],2)

                else:

                    lifeStyle_df.loc[index, key] = round(nutritionParameters_dict[key],2)

            else:

                if (key == 'Protein (Cal)') |( key == 'Carbohydrate (Cal)') | (key == 'Total Sugar (Cal)') | (key == 'Total lipid (Cal)')| (key == 'Total Trans Fat (Cal)')|( key == 'Total Saturated Fat (Cal)') | (key == 'Calories per Meal'):

                    lifeStyle_df.loc[index, key] = round(row[lifeStyle] * nutritionParameters_dict[key],2)

                else:

                    lifeStyle_df.loc[index, key] = round(nutritionParameters_dict[key],2)

    columns = lifeStyle_df.columns.to_list()

    lifeStyle_df[columns] = lifeStyle_df[columns].apply(pd.to_numeric, axis=1) 

    lifeStyle_df = lifeStyle_df.groupby(lifeStyle).mean().reset_index().drop(['AGE'], axis=1)
                     
    maleInfo.append(lifeStyle_df)
                        
maleInfo[0] #List of DataFrames for males and the intake limits for each meal.

,Sedentary,Protein (Cal),Carbohydrate (Cal),Fiber (gr),Total Sugar (Cal),Total lipid (Cal),Total Trans Fat (Cal),Total Saturated Fat (Cal),Cholesterol (mg),Calcium (mg),Iron (mg),"Sodium, (mg)",Vitamin A (mcg RAE),Vitamin C (mg),Calories per Meal
0,2000.0,150.0,350.0,19.0,80.0,200.0,20.0,60.0,100.0,582.5,10.0,460.0,615.0,21.0,666.67
1,2200.0,165.0,385.0,19.0,88.0,220.0,22.0,66.0,100.0,582.5,10.0,460.0,615.0,21.0,733.33
2,2400.0,180.0,420.0,19.0,96.0,240.0,24.0,72.0,100.0,582.5,10.0,460.0,615.0,21.0,800.00
3,2600.0,195.0,455.0,19.0,104.0,260.0,26.0,78.0,100.0,582.5,10.0,460.0,615.0,21.0,866.67

elif row['AGE'] > 19 & row['AGE'] <= 30 :

            for key in maleNutrition19to30_dict.keys():

                    if (key == 'Protein (Cal)') |( key == 'Carbohydrate (Cal)') | (key == 'Total lipid (Cal)')| (key == 'Total Trans Fat (Cal)')|( key == 'Total Saturated Fat (Cal)'):

                        lifeStyle_df.loc[index, key] = round(row[lifeStyle] * maleNutrition19to30_dict[key],2)

                    else:

                        lifeStyle_df.loc[index, key] = round(maleNutrition19to30_dict[key],2)

        elif row['AGE'] > 31 & row['AGE'] <= 50 :

            for key in maleNutrition31to50_dict.keys():

                    if (key == 'Protein (Cal)') |( key == 'Carbohydrate (Cal)') | (key == 'Total lipid (Cal)')| (key == 'Total Trans Fat (Cal)')|( key == 'Total Saturated Fat (Cal)'):

                        lifeStyle_df.loc[index, key] = round(row[lifeStyle] * maleNutrition31to50_dict[key],2)

                    else:

                        lifeStyle_df.loc[index, key] = round(maleNutrition31to50_dict[key],2)

        elif row['AGE'] > 31 & row['AGE'] <= 50 :

            for key in maleNutrition51_dict.keys():

                    if (key == 'Protein (Cal)') |( key == 'Carbohydrate (Cal)') | (key == 'Total lipid (Cal)')| (key == 'Total Trans Fat (Cal)')|( key == 'Total Saturated Fat (Cal)'):

                        lifeStyle_df.loc[index, key] = round(row[lifeStyle] * maleNutrition51_dict[key],2)

                    else:

                        lifeStyle_df.loc[index, key] = round(maleNutrition51_dict[key],2)

In [24]:
#Load kcal requirments from FDA

calorieNeeds_female = pd.read_excel('../../FDA Tables XLSX/Appendix 2. Estimated Calorie Needs -2020 Dietary Guidelines _ health.gov_0002.xlsx', sheet_name = 'Females')

calorieNeeds_female = calorieNeeds_female[calorieNeeds_female['AGE'] >= 14]

calorieNeeds_female =  calorieNeeds_female.reset_index(drop= True)

calorieNeeds_female.head()

   AGE  Sedentary  Moderately active  Active
0   14       1800               2000    2400
1   15       1800               2000    2400
2   16       1800               2000    2400
3   17       1800               2000    2400
4   18       1800               2000    2400

In [25]:
femaleInfo = []

for lifeStyle in ['Sedentary','Moderately active','Active']:
    
    lifeStyle_df = calorieNeeds_female[['AGE', lifeStyle]]
    
    for index,row in lifeStyle_df.iterrows():

        for key in nutritionParameters_dict.keys():

            if key not in lifeStyle_df.columns:

                lifeStyle_df[key] = ''

                if (key == 'Protein (Cal)') |( key == 'Carbohydrate (Cal)') | (key == 'Total Sugar (Cal)') | (key == 'Total lipid (Cal)')| (key == 'Total Trans Fat (Cal)')|( key == 'Total Saturated Fat (Cal)') | (key == 'Calories per Meal'):

                    lifeStyle_df.loc[index, key] = round(row[lifeStyle] * nutritionParameters_dict[key],2)

                else:

                    lifeStyle_df.loc[index, key] = round(nutritionParameters_dict[key],2)

            else:

                if (key == 'Protein (Cal)') |( key == 'Carbohydrate (Cal)') | (key == 'Total Sugar (Cal)') | (key == 'Total lipid (Cal)')| (key == 'Total Trans Fat (Cal)')|( key == 'Total Saturated Fat (Cal)') | (key == 'Calories per Meal'):

                    lifeStyle_df.loc[index, key] = round(row[lifeStyle] * nutritionParameters_dict[key],2)

                else:

                    lifeStyle_df.loc[index, key] = round(nutritionParameters_dict[key],2)
                    
    columns = lifeStyle_df.columns.to_list()

    lifeStyle_df[columns] = lifeStyle_df[columns].apply(pd.to_numeric, axis=1) 

    lifeStyle_df = lifeStyle_df.groupby(lifeStyle).mean().reset_index().drop(['AGE'], axis=1)
       
                        
    femaleInfo.append(lifeStyle_df)
                        
femaleInfo[0] #List of DataFrames for males and the intake limits for each meal.

,Sedentary,Protein (Cal),Carbohydrate (Cal),Fiber (gr),Total Sugar (Cal),Total lipid (Cal),Total Trans Fat (Cal),Total Saturated Fat (Cal),Cholesterol (mg),Calcium (mg),Iron (mg),"Sodium, (mg)",Vitamin A (mcg RAE),Vitamin C (mg),Calories per Meal
0,1600.0,120.0,280.0,19.0,64.0,160.0,16.0,48.0,100.0,582.5,10.0,460.0,615.0,21.0,533.33
1,1800.0,135.0,315.0,19.0,72.0,180.0,18.0,54.0,100.0,582.5,10.0,460.0,615.0,21.0,600.00
2,2000.0,150.0,350.0,19.0,80.0,200.0,20.0,60.0,100.0,582.5,10.0,460.0,615.0,21.0,666.67

In [26]:
#Stores the DataFrames in the system to be abe to read it in another Notebook.

%store maleInfo

%store femaleInfo

%store foodFiltered_df

Stored 'maleInfo' (list)
Stored 'femaleInfo' (list)
Stored 'foodFiltered_df' (DataFrame)

,Restaurant,Food_Name,Calories,Protein (Cal),Carbohydrate (Cal),Fiber (gr),Total Sugar (Cal),Total Fat (Cal),Total Trans Fat (Cal),Total Saturated Fat (Cal),Cholesterol (mg),Calcium (mg),Iron (mg),Sodium (mg),Vitamin A (mcg RAE),Vitamin C (mg)
0,Panera Bread,"Caesar Salad with Chicken, Whole",450,140,68,2,8,243.0,0,63.0,120,0,0.00,770,0.0,0
1,Panera Bread,"Mediterranean Veggie Sandwich on Tomato Basil,...",440,72,268,6,32,117.0,0,27.0,10,0,0.00,1230,0.0,0
2,Panera Bread,Napa Almond Chicken Salad Sandwich on Country ...,630,112,240,5,48,288.0,0,40.5,70,0,0.00,680,0.0,0
3,Panera Bread,"Fuji Apple Salad with Chicken, Whole",570,132,144,6,80,315.0,0,63.0,95,0,0.00,590,0.0,0
4,Panera Bread,"Modern Greek Salad with Quinoa, Whole",530,48,108,7,16,387.0,0,63.0,15,0,0.00,870,0.0,0
5,Panera Bread,"Bacon Turkey Bravo Sandwich on Tomato Basil, W...",630,184,228,3,24,216.0,0,81.0,100,0,0.00,1540,0.0,0
6,Panera Bread,Green Passion Smoothie,200,8,204,2,188,0.0,0,0.0,0,0,0.00,30,0.0,0
7,Smoothie King,Lean1 Chocolate Smoothie,290,88,112,7,72,99.0,0,9.0,5,0,0.00,320,0.0,0
8,Smoothie King,Gladiator Smoothie,180,180,4,0,0,0.0,0,0.0,0,0,0.00,150,0.0,0
9,Smoothie King,Lean1 Strawberry Smoothie,280,80,140,5,112,54.0,0,9.0,5,0,0.00,320,0.0,0
10,Smoothie King,Berry Punch Smoothie,360,0,364,4,336,0.0,0,0.0,0,0,0.00,95,0.0,0
11,Smoothie King,Lean1 Vanilla Smoothie,270,88,104,5,68,90.0,0,9.0,5,0,0.00,320,0.0,0
12,Smoothie King,Immune Builder Smoothie,380,20,356,6,308,9.0,0,0.0,0,0,0.00,55,0.0,0
13,Smoothie King,Blueberry Heaven Smoothie,330,28,292,2,256,9.0,0,0.0,10,0,0.00,260,0.0,0
14,Jamba Juice,"Razzmatazz Smoothie, Medium",390,12,364,4,296,13.5,0,9.0,5,130,1.44,55,60.0,54
15,Jamba Juice,"Chili Mango Smoothie, Medium",410,12,376,3,356,18.0,0,4.5,5,130,1.08,690,2100.0,66
16,Jamba Juice,"Pomegranate Paradise Smoothie, Medium",360,8,360,5,300,4.5,0,0.0,0,130,1.80,35,1350.0,78
17,Jamba Juice,"Aloha Pineapple Smoothie, Medium",410,32,384,3,360,13.5,0,4.5,5,130,1.80,40,60.0,90
18,Jamba Juice,"Watermelon Breeze Smoothie, Medium",420,12,404,3,328,13.5,0,9.0,5,104,5.40,50,30.0,66
19,Jamba Juice,"Strawberries Wild Smoothie, Medium",370,20,344,3,300,0.0,0,0.0,0,260,1.80,140,30.0,48
20,Jamba Juice,"Strawberry Whirl Smoothie, Medium",310,8,308,6,264,4.5,0,0.0,0,104,1.80,25,30.0,72
21,McAlister's Deli,Garden Salad,310,72,76,3,24,171.0,0,90.0,50,0,0.00,540,0.0,0
22,McAlister's Deli,Grilled Chicken Sandwich,560,164,188,2,48,207.0,0,90.0,120,0,0.00,970,0.0,0
23,McAlister's Deli,Savannah Chopped Salad,480,160,172,4,128,144.0,0,45.0,90,0,0.00,1000,0.0,0
24,McAlister's Deli,Italian Chopped Salad,570,132,64,4,40,378.0,0,117.0,95,0,0.00,2300,0.0,0
25,McAlister's Deli,Garden Fresh Turkey Sandwich,670,144,312,10,56,207.0,0,40.5,65,0,0.00,2390,0.0,0
26,McAlister's Deli,French Onion Chicken Sandwich,810,200,296,4,28,306.0,0,63.0,110,0,0.00,1870,0.0,0
27,McAlister's Deli,Southwest Chicken & Avocado Salad,630,200,152,9,40,288.0,0,99.0,125,0,0.00,1040,0.0,0
28,Saladworks,Tivoli,430,132,128,4,24,171.0,0,81.0,85,0,0.00,930,0.0,0
29,Saladworks,Sophie's Salad,310,48,140,12,108,126.0,0,27.0,25,0,0.00,380,0.0,0
30,Saladworks,Buffalo Chicken Panini,660,172,224,2,16,261.0,0,90.0,80,0,0.00,1690,0.0,0
31,Saladworks,Chicken Caesar,290,168,76,3,12,36.0,0,0.0,85,0,0.00,790,0.0,0
32,Saladworks,Cobb,270,92,52,6,16,144.0,0,36.0,35,0,0.00,820,0.0,0
33,Saladworks,Turkey Melt,800,188,240,2,24,360.0,0,126.0,135,0,0.00,1930,0.0,0
34,Saladworks,Mandarin Chicken,230,48,148,11,92,63.0,0,0.0,20,0,0.00,190,0.0,0